<nav class="main-nav">
    <a href="#" class="main-nav__logo">
        <img src="img/logo.svg" alt="">
    </a>
    <button class="main-nav__toggle" type="button">
        <span>Hide menu</span>
    </button>
    <div class="main-nav__wrapper">
        <ul class="list main-nav__list">
            <li class="main-nav__item">
                <a href="#" class="main-nav__link uppercase"></a>
            </li>
            <li class="main-nav__item">
                <a href="#" class="main-nav__link uppercase"></a>
            </li>
            <li class="main-nav__item">
                <a href="#" class="main-nav__link uppercase"></a>
            </li>
        </ul>
    </div>
</nav>
